* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="set-"] {
    float: left;
    padding: 1px;
}
.set-1 {width: 8.33%;}
.set-2 {width: 16.66%;}
.set-3 {width: 25%;}
.set-4 {width: 33.33%;}
.set-5 {width: 41.66%;}
.set-6 {width: 50%;}
.set-7 {width: 58.33%;}
.set-8 {width: 66.66%;}
.set-9 {width: 75%;}
.set-10 {width: 83.33%;}
.set-11 {width: 91.66%;}
.set-12 {width: 100%;}
.small-left-em {
	text-align: left;
	font-size: 80%;
	font-style: oblique;
}
.small-right-em {
	color: blue;
	direction: rtl;
	text-align: right;
	font-size: 80%;
	font-style: oblique;
}

#chatwindow {
	font-size: 80%;
}
.mychat {
	color: blue;
	text-align: right;
	font-style: oblique;
}
div.txtchat {
    position: fixed;
    bottom: 30px;
    width: 90%;
}